/* Styles go here */

*, *:after, *:before {
    box-sizing: border-box;
}

html {
  background-color: #f5f5f5;
}

body {
    font-size: 1em;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: "Open Sans", OpenSans, sans-serif;
    color: #333;
    min-width: 1100px; /*ensures fits to ipad*/
}

.uppercase {
    text-transform: uppercase;
}

.titleFont {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

/*helpers
    ----------------------------------------------------------*/
.right {
    float: right;
}

.left {
    float: left;
}

.hidden {
    display: none;
}

.rounded {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/*page
    ----------------------------------------------------------*/

.wrapper{
  text-align:center;
  margin: 0 auto;
  width:300px;
}
.slideWrapper{
hight:130px;
margin-bottom:15px;
}
.inputWrapper{
  margin-bottom:15px;
  
}

.inputWrapper input{
  height:40px;
  width:100%;
  border-radius: 3px;
 border: 1px solid #999;
 padding-left:5px;
}

.description{
  text-align:left;
  margin-bottom:15px;
}

.submitButton{
  height:40px;
  width:100%;
  border-radius: 3px;
  border:none;
  margin-bottom:15px;
  font-size:1em;
  font-weight: bold;
  color:#fff;
  background:#4cb7cd;
}


/*Good Job Page
----------------------------------------*/
.goodJobTitle{
margin-bottom:15px;
}
.goodJobImgWrapper{

}

.goodJobImg{
  min-height:100px;
}


/*results page
---------------------------------------*/
.resultsWrapper{

}
/*results page
---------------------------------------*/

.take-assessment .inner-progress-bar{
	background-color: #4cb7cd;
}

.take-assessment .slide .caption{
	background-color: #f5f5f5;
	color:#fff;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size:2em;
}